<header class="navbar-default navbar-fixed-bottom" style="background-color: #000000">
  <div class="container">
    <nav>
      <p style="font-size: large; text-align: center; color: #ffffff">&#169; 2017 All Rights Reserved</p>
    </nav>
  </div>
</header>